server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bankcards
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    org.springframework: INFO
    com.example.bankcards: DEBUG

token:
  key: mySuperSecretKeyThatIsVeryLongForHmac
  expiration: 3600000

encryption:
  algorithm: AES
  secret-key: MySuperSecretKey

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

